<h1 class="text-center wow fadeIn">Sign Up</h1>

<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <%= form_tag '/users', method: :post do %>
                      <div class="col-md-6">
                        <h3>Name</h3>
                        <p><input type="text" name="name"></p>
                        <h3>Email</h3>
                        <p><input type="email" name="email"></p>
                        <h3>Phone</h3>
                        <p><input type="text" name="phone"></p>
                      </div>
                      <div class="col-md-6">
                        <h3>Password</h3>
                        <p><input type="password" name="password"></p>
                        <h3>Confirm Password</h3>
                        <p><input type="password" name="password_confirmation"></p>
                        <h3>Preference (if any)</h3>
                        <select class="selectpicker" name="preference">
                          <option value="">N/A</option>
                          <option value="phone">Phone</option>
                          <option value="email">Email</option>
                        </select>
                        <br>
                        <br>
                        <button class="btn btn-success">Sign Up</button>
                      </div>
                    <% end %>
                </div>
                <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
            </div>
        </div>
    </div>
</section>